.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #f0d6dd;
  color: #444444;
  background-color: #ffe0e993;
}

.todoText {
  width: 100%;
  text-align: left;
}

.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: #ff9eb5;
}

.completedTodo {
  background-color: #817378a6;
  border-color: #817378a6;
  color: #444444;
}

.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: #444444;
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: gray;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}
