.button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: #ffb8d3;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
.button:disabled {
  color: rgba(51, 49, 50, 0.37);
}
.button:hover {
  background-color: rgb(233, 121, 164);
}
